<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> Kinder Feasta Dashboard</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/modules/fontawesome/css/all.min.css' %}">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/modules/jqvmap/dist/jqvmap.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/modules/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet"
    href="{% static 'admin_static/assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet"
    href="{% static 'admin_static/assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/css/components.css' %}">
  <!-- Start GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-94034622-3');
  </script>
  <!-- /END GA -->
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>

      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">

          <ul class="navbar-nav mr-3">

            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                  class="fas fa-search"></i></a></li>
                  
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              
    </ul>
            <img src="{% static 'admin_static/assets/img/Kinder Feasta.png' %}"
              style="width: 200px; margin-left: 400px;">
                
           
          </div>
        </form>
        </ul>
       
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <img src="{% static 'admin_static/assets/img/fest.png' %}" style="width: 100px;">
          </div>
          
          <ul class="sidebar-menu">
            <li class="dropdown active">
              <br><a href="#" class="nav-link"><i class="fas fa-fire"></i><span>Kinder Feasta</span></a>

            </li>
           
            <li class="menu-header" style="color: black;"><b>Events</b></li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
                <span>Contest list </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'contestadd' %}">Add list</a></li>
                <li><a class="nav-link" href="{% url 'contestview' %}">View list</a></li>
              </ul>
            </li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-sort"></i>
                <span>Participant list</span></a>

              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'participant_add' %}">Add list</a></li>
                <li><a class="nav-link" href="{% url 'participant_view' %}">View list</a></li>
              </ul>
            </li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fa fa-star"
                  aria-hidden="true"></i>


                <span>Judges list </span></a>

              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'judges_add' %}">Add list</a></li>
                <li><a class="nav-link" href="{% url 'judges_view' %}">View list</a></li>
              </ul>
            </li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-trophy"></i>
                <span>Result </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'result_add' %}">Add </a></li>
                <li><a class="nav-link" href="{% url 'result_view' %}">View </a></li>
              </ul>
            </li>
            <li class="menu-header" style="color: black;"><b>Cultural programmes</b></li>

            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Programmes list</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'programmes_add' %}">Add List</a></li>
                <li><a class="nav-link" href="{% url 'programmes_view' %}">View List</a></li>
              </ul>
            </li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown"><i class="fa fa-map" aria-hidden="true"></i>
                <span>Performer list</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'performer_add' %}">Add</a></li>
                <li><a class="nav-link" href="{% url 'performer_view' %}">View</a></li>
              </ul>
            </li>


            <li class="menu-header" style="color: black;"><b>Venues and volunteers</b></li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
                <span> Venue Place </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'venue_add' %}">Add</a></li>
                <li><a class="nav-link" href="{% url 'venue_view' %}">view</a></li>
              </ul>

            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fa fa-male" aria-hidden="true"></i></i> <span>
                  Volunteers</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'volunteers_add' %}">Add</a></li>
                <li><a class="nav-link" href="{% url 'volunteers_view' %}">View</a></li>
              </ul>
            </li>
            <li class="menu-header" style="color: black;"><b>Special Guests</b></li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-gift"></i> <span>Guests</span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'guests_add' %}">Add</a></li>
                <li><a href="{% url 'guests_view' %}">View</a></li>
              </ul>
            </li>
            <li class="menu-header" style="color: black;"><b>Gallery</b></li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown"><i class="fa fa-camera-retro" aria-hidden="true"></i>
                </i>
                </i> <span>
                  Photoshop</span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'gallery_add' %}">Add</a></li>
                <li><a href="{% url 'gallery_view' %}">View</a></li>
              </ul>
            </li>
            <li class="menu-header" style="color: black;"><b>School History</b></li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown"><i class="fa fa-camera-retro" aria-hidden="true"></i>
                </i>
                </i> <span>
                  History</span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'history_add' %}">Add</a></li>
                <li><a href="{% url 'history_view' %}">View</a></li>
              </ul>
            </li>
            <li class="menu-header" style="color: black;"><b>School Gallery</b></li>
            <li class="dropdown">

              <a href="#" class="nav-link has-dropdown"><i class="fa fa-camera-retro" aria-hidden="true"></i>
                </i>
                </i> <span>
                 Photoes</span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'photo_add' %}">Add</a></li>
                <li><a href="{% url 'photo_view' %}">View</a></li>
              </ul>
            </li>



            <li class="menu-header" style="color: black;"><b>School Achievements</b></li>

            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-graduation-cap"></i>
                <span>Achievements</span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'achievements_add' %}">Add</a></li>
                <li><a href="{% url 'achievements_view' %}">View</a></li>
              </ul>
            </li>

            <li class="menu-header" style="color: black;"><b>Management</b></li>
            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Management Details</span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'management_add' %}">Add</a></li>
                <li><a href="{% url 'management_view' %}">View</a></li>
              </ul>
            </li>
            <li class="menu-header" style="color: black;"><b>Teachers Faculty </b></li>

            <li class="dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fa fa-university" aria-hidden="true"></i>
                </i> <span>Teachers Details</span></a>

              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'teachers_add' %}">Add</a></li>
                <li><a class="nav-link" href="{% url 'teachers_view' %}">View</a></li>

              </ul>
            </li>
            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a href="{% url 'feedbacks_view' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fa fa-comments" aria-hidden="true"></i>
                Feedbacks
              </a>



            </div>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <div  style="margin-left: 800px; margin-top: 20px;">
              
         <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
       
          </div
        {% block content %}
        {% endblock %}
      </div>


      <!-- General JS Scripts -->
      <script src="{% static 'admin_static/assets/modules/jquery.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/popper.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/tooltip.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/tooltip.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/moment.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/js/stisla.js' %}"></script>

      <!-- JS Libraies -->
      <script src="{% static 'admin_static/assets/modules/jquery.sparkline.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/chart.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/owlcarousel2/dist/owl.carousel.min.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/summernote/summernote-bs4.js' %}"></script>
      <script src="{% static 'admin_static/assets/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

      <!-- Page Specific JS File -->
      <script src="{% static 'admin_static/assets/js/page/index.js' %}"></script>

      <!-- Template JS File -->
      <script src="{% static 'admin_static/assets/js/scripts.js' %}"></script>
      <script src="{% static 'admin_static/assets/js/custom.js' %}"></script>
</body>

</html>