{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web_Design</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    .body {
        background-image: url("{% static 'images\keyboard.jpg' %}");
        background: linear-gradient(90deg, rgba(220, 83, 181, 0.7) 15%, rgba(57, 4, 107, 0.7) 82%);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>


<header class="fixed-top p-auto">
    <div class="container">
        <nav class="navbar navbar-expand p-0">
            <a class="navbar-brand mr-0 pr-4" href="index.html">
                <img src="{% static 'images/logo9.png' %}" alt="logo" style="width: 120px;">
            </a>
            <a href="javascript:void(0)" id="cls-btn">&times;</a>
            <div class="navbar-collapse nav-sec" id="sidenav">
                <ul class="navbar-nav mr-auto header-nav">
                    <li class="nav-item active">
                        <a class="nav-link active text-white" href="{% url 'homepage' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'contestlist' %}">
                            Contest Lists
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'participantlist' %}">
                            Participants Lists
                        </a>&nbsp;
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'judgeslist' %}">
                            Judges List
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'resultlist' %}">
                            Result
                        </a>
                    </li>

                </ul>
                <div class="search-box mr-lg-0">
                    <input type="text" placeholder="Search here..." name="search1">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="menu-icon d-lg-none">
                    <span class="ml-auto"></span>
                    <span class="ml-auto"></span>
                    <span class="ml-auto"></span>
                </div>
        </nav>
    </div>
</header>


</section>
<section  class="body">
<div class="card" style="width: 1000px;  margin-left: 150px; background-color: seashell; margin-top: 10px;">
    <div class="card-body">
        <h3 style="text-align: center; font-family: cursive; color: solid black; margin-top: 50px;">ContactUs</h3>
        <form method='post'>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-info" style="margin-left: 400px; margin-top: 10px;">Submit</button>
        </form>
    </div>
</div>
</section>
<footer>
    <div class="layer">
        <div class="container">
            <nav class="navbar navbar-expand  p-0">
                <a class="navbar-brand mr-0 pr-2 pr-sm-4" href="index.html">
                    <img src="{% static 'images/kinder feasta.png' %}" alt="logo" style="width: 200px;height: 60px;">
                </a>
                <div class="nav-sec">
                    <ul class="ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link active text-black" href="index.html">
                                Home
                            </a>
                        </li>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutpage' %}">
                                About Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contactpage' %}">
                                Contact
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'supportpage' %}">
                                Support
                            </a>
                        </li>
                        <li>
                            <p class="m-0"> ©2024, All Rights Reserved. Designed By Rehana Rafeeq</a></p>
                        </li>
                    </ul>
            </nav>

        </div>
    </div>
</footer>


<button class="scrolltop-btn">
    <i class="fa fa-angle-up"></i>
</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="{% static 'js/script.js' %}"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>

</html>