{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">

        <div class="card-header">
            <strong class="card-title " style="color:blue; margin-left: 400px; font-family:'Franklin Gothic Medium', 'Arial Narrow', 
            Arial, sans-serif; font-size:x-large;">Feedbacks</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>mobile_no</th>
                        <th>feedback</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.Your_name}}</td>
                        <td>{{i.Your_mobile_no}}</td>
                        <td>{{i.Feedbacks}}</td>


                    </tr>
                  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}