{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">

    <div class="card-header">
        <strong class="card-title "
            style="color:blue; margin-left: 400px; font-family:'Franklin Gothic Medium', 
            'Arial Narrow', Arial, sans-serif; font-size:x-large;">Gallery
            </strong>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Photoes</th>
                    <th>Videos</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td><img src="{{i.Photoes.url}}" style="height: 100px; "> </td>
                    <td><video width='400' controls>
                        <source src="{{i.Videos.url}}" type="video/mp4"> </td>

                    </video>

                    <td><a href="{% url 'update_gallery' i.id %}" type="button" class="btn btn-info">Update</a></td>
                    <td><a href="{% url 'del_gallery' i.id %}" type="button" class="btn btn-danger">Delete</a></td>


                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}