{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">

    <div class="card-header">
        <strong class="card-title "
            style="color:blue; margin-left: 400px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:x-large;">Judges
            Lists</strong>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Room_No</th>

                    <th>Contest_Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.Name}}</td>
                    <td>{{i.Room_No}}</td>

                    <td>{{i.Contest_Name}}</td>
                    <td><a href="{% url 'update_judges' i.id %}" type="button" class="btn btn-info">Update</a></td>
                    <td><a href="{% url 'del_judges' i.id %}" type="button" class="btn btn-danger">Delete</a></td>


                </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}