<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Main_Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'main_static/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'main_static/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'main_static/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'main_static/images/fest.png' %}">
</head>

<body>
  <div class="row" id="proBanner">
    <div class="col-12">
      <span class="d-flex align-items-center purchase-popup">
        <img src="{% static 'main_static/images/fest.png' %}" style="width: 150px;">

        <a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none">
          class="fas fa-search"></a>

        <div class="search-element" style="margin-left: 900px;">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200"> <i
            class="fa fa-search"></i>


          <i class="typcn typcn-outline" id="bannerClose"></i>

          <a href="{% url 'logout' %}" class="btn btn-primary" style="margin-top: 20px; margin-left: 100px;">Logout</a>
        </div>
        </div>
      </span>
    </div>
  </div>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">

      </div>
    </nav>
    <!-- partial -->
    <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
      <div class="navbar-links-wrapper d-flex align-items-stretch">


      </div>


    </nav>
  </div>


  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
      <div id="theme-settings" class="settings-panel">

      </div>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="{% url 'school_view' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="bi bi-view-list"></i>School_View
        </a>
        <a href="{% url 'student_view' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="bi bi-view-list"></i>Student_View
        </a>
      </div>

    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">

        {% block content %}
        {% endblock %}

      </div>
    </div>
  </div>

  </div>

  <!-- base:js -->
  <script src="{% static 'main_static/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{% static 'main_static/vendors/chart.js/Chart.min.js' %}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'main_static/js/off-canvas.js' %}"></script>
  <script src="{% static 'main_static/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'main_static/js/template.js' %}"></script>
  <script src="{% static 'main_static/js/settings.js' %}"></script>
  <script src="{% static 'main_static/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'main_static/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>