<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web_Design</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<header class="fixed-top p-auto">
    <div class="container">
        <nav class="navbar navbar-expand p-0">
            <a class="navbar-brand mr-0 pr-4" href="index.html">
                <img src="{% static 'images/logo9.png' %}" alt="logo" style="width: 120px;">
            </a>
            <a href="javascript:void(0)" id="cls-btn">&times;</a>
            <div class="navbar-collapse nav-sec" id="sidenav">
                <ul class="navbar-nav mr-auto header-nav">
                    <li class="nav-item active">
                        <a class="nav-link active text-white" href="{% url 'homepage' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'contestlist' %}">
                            Contest Lists
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'participantlist' %}">
                           Participants Lists
                        </a>&nbsp;
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'judgeslist' %}">
                          Judges List
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'resultlist' %}">
                            Result
                        </a>
                    </li>

                </ul>
                <div class="search-box mr-lg-0">
                    <input type="text" placeholder="Search here..." name="search1">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="menu-icon d-lg-none">
                    <span class="ml-auto"></span>
                    <span class="ml-auto"></span>
                    <span class="ml-auto"></span>
                </div>
        </nav>
    </div>
</header>

<section class="banner">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h1>Kinder Feasta</h1>
    </div>
</section>
<section class="about-page support-page" style="background-color: lightblue;">
    
        <div class="container">
            <h2 data-aos="zoom-in" data-aos-duration="1000">Kinder Feasta</h2>
            <ul class="row">
                <li class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
                    <figure><img src="{% static 'images/logo9.png' %}" alt="about-page" class="img-fluid"></figure>
                </li>
                <li class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                    <p>Kinder Feasta is mainly designed for a school to help the teachers , parents as well as the children also.
                        This website is designed by a teacher named Rehana Rafeeq.
                    </p>
                    <p>School festivals are vibrant events that bring together students, creativity, and a sense of community. These festivals showcase various talents, 
                      from technical competitions to cultural performances.</p>
                </li>
                <li class="col-12">
                    <p data-aos="fade-up" data-aos-duration="1000">A school fest, also known as a school festival, is an exciting event organized by educational institutions to showcase the talents and creativity of students. Here are some key points about school fests:
    
                        Purpose and Structure:
                        Unique Celebration: A school fest is a unique celebration that brings together students, teachers, and sometimes even parents.
                        Showcasing Talents: It provides a platform for students to exhibit their skills in various fields such as arts, sports, music, dance, drama, literature, and more.
                        Competition and Collaboration: Participants compete in different events, collaborate with peers, and learn from each other.
                        Organizational Setup: The organization of school fests involves meticulous planning, 
                        coordination, and execution. Expert guidelines are followed to ensure a successful event..
                       </p>
                    <p data-aos="fade-up" data-aos-duration="1300">
                        Better communication of event details, leading to fewer inquiries and questions from attendees.
    Easy to use user experience.
    Increased Pro Show ticket sales and revenue generation.
    Improved perception and reputation of the Vibrance annual cultural fest among other fests.n today’s digital age, having a school website is crucial for fostering a strong connection between education and the community. Whether you’re a parent, student, teacher, 
    or school administrator, the benefits of a well-designed and regularly updated school website are manifold. Sothat's why having a 
    school website is an absolute must in today’s educational landscape:
                </li>
                
            </ul>
        </div>
   
    <div class="container">
        <h2 data-aos="fade-up" data-aos-duration="1000">support for all</h2>
        
        <h4 data-aos="fade-up" data-aos-duration="1000">
            Buying Support</h4>
        
      
        <h4 data-aos="fade-up" data-aos-duration="1000">Technical Support</h4>
        
        <h4 data-aos="fade-up" data-aos-duration="1000" >Design Support</h4>
        <p style="margin-top: 150px;">For all kind of support you can contact <a href="frehana.ky@gmail.com">frehana.ky@gmail.com </a>.     Feel free to contact us..</p>
    </div>
</section>

<footer>
    <div class="layer">
        <div class="container">
            <nav class="navbar navbar-expand  p-0">
                <a class="navbar-brand mr-0 pr-2 pr-sm-4" href="index.html">
                    <img src="{% static 'images/kinder feasta.png' %}" alt="logo" style="width: 200px;height: 60px;">
                </a>
                <div class="nav-sec">
                    <ul class="ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link active text-black" href="index.html">
                                Home
                            </a>
                        </li>
                       
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutpage' %}">
                                About Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contactpage' %}">
                                Contact
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="support.html">
                                Support
                            </a>
                        </li>
                        <li>
                            <p class="m-0"> ©2024, All Rights Reserved. Designed By Rehana Rafeeq</a></p>
                        </li>
                    </ul>
            </nav>

        </div>
    </div>
</footer>


<button class="scrolltop-btn">
    <i class="fa fa-angle-up"></i>
</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="{% static 'js/script.js' %}"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>

</html>